    <p>
    <a href="./#Introduction">Introduction</a> - <a href="./#Download">Download</a> - <a href="./#Using iTunes Export">Using iTunes Export</a> -
    <a href="faq.html">Frequently Asked Questions (FAQ)</a> - <a href="license.html">License</a> - <a href="changes.html">Change Log</a>
    </p>

    <p style="color:Red;">
      This version of iTunes Export is depricated.  This .Net version has been replaced by the <a href="/dev/itunesexport">current versions</a>, developed in Adobe AIR and Java (Scala).  You should only use this version if you have a problem with the new version.
    </p>
