    <div id="sidebar">

      <p>
      <a href="http://twitter.com/#!/eric_daugherty">@eric_daugherty</a>
      </p>
      <p>
      <a href="mailto:eric@ericdaugherty.com">eric@ericdaugherty.com</a>
      </p>

      <p class="header"><a href="http://blog.ericdaugherty.com">Blog</a></p>

      <p class="header"><a href="/apps/">Applications</a></p>

      <a href="/apps/playlistexport/">Playlist Export</a><br/>
      <a href="/apps/simplemailprocessor/">Simple Mail Processor</a><br/>

      <p class="header"><a href="/dev/">Open Source Projects</a></p>

      <a href="/java/mailserver/">Java Email Server</a><br/>
      <a href="/dev/cses/">C# Email Server</a><br/>
      <a href="/dev/itunesexport/">iTunes Export</a><br/>
      <a href="/dev/sshwebproxy/">SSH Web Proxy</a><br/>
      <a href="/dev/soht/">Sockets over HTTP (SOHT)</a><br/>

      {% if page.ad %}{% include sidebar-ad.html %}{% endif %}

      <br/>
      <br/>
    </div>
