---
layout: default
title: Playlist Export Templates
keywords: Eric Daugherty EricDaugherty.com Playlist Export OSX Mac iTunes Templates
description: Templates for Playlist Exporter for iTunes on Mac OSX
---

    <div id="main">
   
  <p class="header">Playlist Export - Shared Templates</p>
  
  <p class='header'>Add Template</p>
  
  <p>
  Submit your template today via email at <a href="mailto:eric@ericdaugherty.com">eric@ericdaugherty.com</a>
  </p>
  
  <p class='header'>Available Templates</p>
 
  <p>
  None yet, check back soon or submit yours.
  </p>
  
  <p>
    Questions or problems?  Drop me an email (<a href="mailto:eric@ericdaugherty.com">eric@ericdaugherty.com</a>) and we'll help out.
  </p>
    
    </div>